
.SlideInFromBottom {
  &-enter {
    transform: translateY(100%);
    &-active {
      transform:translateY(0);
      transition: transform .5s ease;
    }
  }
  &-exit {
    transform:translateY(0);

    &-active {
      transform: translateY(100%);
      transition: transform .5s ease;
    }
  }
}