<?php

$header = <<<'EOF'
This file is part of Mannequin.

(c) 2017 Last Call Media, Rob Bayliss <rob@lastcallmedia.com>

This source file is subject to the MIT license that is bundled
with this source code in the file LICENSE.
EOF;

$finder = PhpCsFixer\Finder::create()
  ->in(__DIR__.'/src');
// Tack on the two Mannequin
$finder->append(new ArrayIterator([
    new \SplFileInfo(__DIR__.'/.mannequin.php'),
    new \SplFileInfo(__DIR__.'/demo/.mannequin.php')
]));

return PhpCsFixer\Config::create()
  ->setRiskyAllowed(true)
  ->setRules([
    '@Symfony' => true,
    '@Symfony:risky' => true,
    'header_comment' => ['header' => $header],
  ])
  ->setFinder($finder);