<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php" defaultTestSuite="Core">
    <testsuites>
        <testsuite name="Core">
            <directory>src/Core/Tests</directory>
            <directory>src/Html/Tests</directory>
            <directory>src/Twig/Tests</directory>
        </testsuite>
        <testsuite name="Drupal">
            <directory>./src/Drupal/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/*/</directory>
            <exclude>
                <directory>./src/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>