<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Patterns Test Suite">
            <directory>./cli/Tests</directory>
            <directory>./core/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./cli/</directory>
            <directory>./core/</directory>
            <exclude>
                <directory>./cli/Tests</directory>
                <directory>./core/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>