
$body-font-family: 'Helvetica', 'Arial';
$header-font-family: $body-font-family;
$impact-font-family: 'Gilroy', 'Gill Sans';

$dark-bg: #181D22;

@import "../node_modules/foundation-sites/scss/foundation";

