
$body-font-family: 'Helvetica', 'Arial';
$header-font-family: $body-font-family;
$impact-font-family: 'Gilroy', 'Gill Sans';
$code-background: transparent;
$code-border: none;
$code-color: inherit;
$code-padding: none;

$dark-bg: #181D22;

// Temporary fix for https://github.com/zurb/foundation-sites/issues/10387
// Can be removed once that is resolved.
$grid-margin-gutters: (
        small: 20px,
        medium: 30px,
        large: 30px,
        xlarge: 30px,
        xxlarge: 30px,
) !default;

@import "../node_modules/foundation-sites/scss/foundation";

