
$body-font-family: 'Helvetica', 'Arial';
$header-font-family: $body-font-family;
$impact-font-family: 'Gilroy', 'Gill Sans';
$code-background: transparent;
$code-border: none;
$code-color: inherit;
$code-padding: none;

$dark-bg: #181D22;
$dashed-border-color: #7E92A5;

// Temporary fix for https://github.com/zurb/foundation-sites/issues/10387
// Can be removed once that is resolved.
$grid-margin-gutters: (
        small: 20px,
        medium: 30px,
        large: 30px,
        xlarge: 30px,
        xxlarge: 30px,
) !default;

@import "../node_modules/foundation-sites/scss/foundation";

@mixin overlay-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
}

%toggle-button {
  font-size: rem-calc(10);
  line-height: rem-calc(12);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  > i, > svg.Icon {
    margin-left: rem-calc(17);
  }
}