
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
html, body, #root {
    height: 100%;
    margin: 0;
}

.App {
    position:relative;
    height: 100%;
}

iframe.pattern-render {
    width: 100%;
    height: 100%;
}