
@import "base";

@include foundation-everything();

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  .app-inner {
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transform: translate(0, 0);
    transition: transform .5s ease;
  }
  .main-frame {
    flex: 0 0 50%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .MannequinTopBar {
      flex: 0 0;
    }
    main {
      flex: 1 0;
    }
  }
  .NavDrawer {
    flex: 0 0 50%;
    width: 50%;
    visibility: hidden;
    transition: visibility 0s linear .5s;
  }
  &.drawer-open {
    .app-inner {
      transform: translate(-50%, 0);
      transition: transform .5s ease;
    }
    .NavDrawer {
      visibility: visible;
      transition: none;
    }
  }

  @include breakpoint(large) {
    .app-inner {
      width: 100%;
    }
    .main-frame {
      flex: 1 0 100%;
    }
    .NavDrawer {
      flex: 1 0 300px;
      transform: translate(0, 0);
      transition: transform .5s ease, visibility 0s linear .5s;
    }
    &.drawer-open {
      .app-inner {
        transform: translate(0, 0);
      }
      .NavDrawer {
        transform: translate(-300px, 0);
        transition: transform .5s ease;
      }
    }
  }
  @include breakpoint(xlarge) {
    .main-frame {
      flex: 1 0 auto;
    }
    .NavDrawer {
      flex: 0 0 300px;
      visibility: visible;
      transition: none;
    }
    .drawer-toggle {
      display: none;
    }
    &.drawer-open {
      .NavDrawer {
        transform: translate(0, 0);
      }
    }
  }
}
