
.Nav-refresh, .Nav-tags a, .Nav-tags li, .Pattern-info {
    color: #EEE;
}

.Nav-refresh {
    text-align:center;
    display:block;
    padding: .5em;
    /*background: #BBB;*/
}
.Nav-tags {
    padding-top: 1em;
    padding-bottom: 1em;
    /*background: #CCC;*/
}
.Nav-tags, .Nav-tags ul {
    margin: 0;
    list-style:none;
    padding-left: 1em;
}

.Nav-tags li {
    padding-top: .25em;
    /*padding: .5em;*/
}

.Pattern-info {

}
.Pattern-name {
    border-bottom: 1px dashed white;
}