
@import "base";

%toggle-button {
  font-size: rem-calc(10);
  line-height: rem-calc(12);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.MannequinTopBar {
  background: $dark-bg;
  color: white;

  .opener {
    float: right;
    @extend %toggle-button;
    padding: rem-calc(7);
    i {
      margin-left: rem-calc(17);
    }
  }
  .logo {
    width: 30px;
  }
}

.NavDrawer {
  background-color: $dark-bg;
  box-shadow: inset 1px 0 0 0 #2A2A2A;
  .controls {
    text-align: right;
  }
  .closer {
    @extend %toggle-button;
    padding: rem-calc(12.5) rem-calc(24);
    .arrow {
      font-size: rem-calc(24);
      line-height: rem-calc(12);
      vertical-align: middle;
      margin-right: rem-calc(17);
    }
  }
  .SearchForm {
    margin: rem-calc(12.5);
    margin-top: 0;
  }
}

.SearchForm {
  input {
    border-radius: 2px;
    border: none;
    background-color: lighten(black, 5%);
    color: #606C77;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 10px 13px;
    height: auto;
    transition: background-color 1s;

    &:focus {
      background-color: #FFFFFF;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,0.17);
      transition: background-color .3s;
    }
  }
}

.MenuList {
  list-style:none;
  margin: 0;
  display: block;
}
.MenuItem {
  display: block;
  border-top: 1px solid #2A2A2A;
  > a {
    display: block;
    font-size: rem-calc(14);
    line-height: rem-calc(17);
    font-weight: bold;
    letter-spacing: 1px;
    padding: rem-calc(12.5) rem-calc(24);
  }
  &.l1 {
    > a {
      text-transform: uppercase;
      color: white;
    }
  }
  &.l2 {
    > a {
      text-transform: uppercase;
      color: #AFAFAF;
      padding-left: rem-calc(48);
    }
  }
  &.l3 {
    > a {
      color: #AFAFAF;
      padding-left: rem-calc(60);
    }
  }
  &.collapsible {
    > a:after {
      content: "-";
      float:right;
    }
    &.collapsed > a:after {
      content: "+";
    }
  }
}

.MenuItem.collapsible.collapsed {
  > .MenuList {
    clip: rect(0 0 0 0);
    max-height: 1px;
    margin: -1px;
    overflow: hidden;
    visibility: hidden;
  }
}


