
@import "base";

%toggle-button {
  font-size: rem-calc(10);
  line-height: rem-calc(12);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  > i, > svg.Icon {
    margin-left: rem-calc(17);
  }
}

.MannequinTopBar {
  background: $dark-bg;
  color: white;

  .inner {
    @include xy-grid-container();
    @include xy-grid();
    > .logo, > .opener {
      @include xy-cell(shrink, $gutter-type: padding);
    }
    > .title {
      @include xy-cell(auto);
    }
  }

  .opener {
    @extend %toggle-button;
    i.menu-icon {
      @include hamburger($color: $titlebar-icon-color, $color-hover: $titlebar-icon-color-hover);
      margin-left: rem-calc(17);
    }
  }
  .MannySmall {
    width: 37px;
    padding: 10px 0;
  }
}

.NavDrawer {
  background-color: $dark-bg;
  border-top: 1px solid #2A2A2A;
  border-left: 1px solid #2A2A2A;
  border-bottom: 1px solid #2A2A2A;
  @include xy-grid(vertical);
  > .drawer-toggle {
    @include xy-cell(shrink, $gutter-position: right left top bottom, $gutter-type: padding);
    @extend %toggle-button;
    text-align: right;
    line-height: rem-calc(24);
    > i {
      font-size: rem-calc(24);
      vertical-align: middle;
    }
  }
  > .SearchForm {
    @include xy-cell(shrink, $gutter-position: right left bottom, $vertical: true);
    @include breakpoint(xxlarge) {
      @include xy-cell(shrink, $gutter-position: right left bottom top, $vertical: true);
    }
  }
  > .MenuList {
    @include xy-cell(auto, $gutter-output: false, $gutter-type: none, $vertical: true);
    overflow:auto;
  }
}

.SearchForm {
  position: relative;
  input {
    border-radius: 2px;
    border: none;
    background-color: #21262B;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 10px 13px;
    height: auto;
    margin-bottom: 0;
    border-radius: 0;

    &:focus {
      background-color: #21262B;
    }
  }
  .Icon {
    position: absolute;
    top: 50%;
    right: rem-calc(15);
    font-size: rem-calc(13);
    margin-top: -.5em;
  }
}
