
@import "base";

.MannequinNav {
  background: black;
  color: white;

  #responsive-menu {
    display:flex;
    width: 100%;
  }

  ul { background-color: transparent; }
  // Structure/behavior rules for menu.
  ul.main-menu {
    li { position: relative; }
    > li > ul {
      display: none;
      position: absolute;
      top: 100%;
      min-width: rem-calc(200);
    }
    > li:hover > ul, > li.focusing > ul {
      display:block;
    }
    > li > ul > li.collapsed > ul {
      display: none;
    }
  }

  .top-bar-title {
    img {
      width: rem-calc(14);
      height: rem-calc(18);
    }
  }
}

.MenuList {
  &.l2 {
    border: 1px solid #E8E8E8;
    border-radius: 1px;
    background-color: #FDFDFD;
    box-shadow: 0 5px 11px 0 rgba(80,80,80,0.06);
  }
  &.l3 {
    background-color: #F7F7F7;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
  }
}
.MenuItem {
  &.l1 {
    > a {
      text-transform: uppercase;

      font-size: rem-calc(10);
      font-weight: bold;
      line-height: rem-calc(12);
      color: white;
    }
  }
  &.l2 {
    > a {
      font-size: rem-calc(12);
      line-height: rem-calc(14);
      color: #2F2F2F;
      text-transform: uppercase;
    }
    &.collapsible {
      > a {color: #CBCBCB;}
      > a:after {
        content: "-";
        float:right;
      }
      &.collapsed {
        a { color: #2F2F2F; }
        a:after {
          content: "+";
        }
      }
    }
  }
  &.l3 {
    > a {
      color: #2F2F2F;
      font-size: rem-calc(13);
      line-height: rem-calc(16);
      font-weight: bold;
    }
  }
}
.CollapsibleSection {
  > a {
    font-size: rem-calc(12);
    line-height: rem-calc(14);
    color: #2F2F2F;
    text-transform: uppercase;

    > .title {
      font-size: rem-calc(12);
      line-height: rem-calc(14);
    }
    > .indicator {
      float:right;
      margin-left: auto;
      width: 1em;
      font-size: rem-calc(16);
      font-weight: 600;
    }
  }
  &.open > a {
    color: #CBCBCB;
  }
}


