
@import "base";

.PatternInnerPage {
  @include xy-grid($direction: vertical, $wrap: false);
  position: relative;

  .PatternTopBar {
    @include xy-cell(shrink, $vertical: true, $gutter-output: false);
  }
  .RenderFrame {
    @include xy-cell($vertical: true, $gutter-output: false);
  }
  .Content {
    @include xy-cell(shrink, $vertical: true, $gutter-output: true);
  }
  .PatternInfo {
    position:absolute;
    bottom: 0;
    width: 100%;
    max-height: 75%;
    transform: translateY(0);
    transition: transform .5s ease;


    &.hiding {
      transform: translateY(100%);
      visibility: hidden;
      transition: transform .5s ease, visibility 0s linear .5s;
    }
  }
}