
.PatternCard {
    display:block;
    border: 1px solid rgba(0,0,0,.125);
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 3px;
}

.PatternCard-title {
    background: #f7f7f9;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin: 0;
    display: block;
    padding: .5rem;
}
.PatternCard-info {
    padding: .5rem;
}
.PatternCard-info p {
    margin: 0;
}

.PatternFormatBadge {
    display:inline-block;
    border-radius: 3em;
    border: 1px solid;
    padding: .25em .5em;
    font-size: .75rem;
    line-height: 1;
    text-transform: uppercase;
}
.PatternFormatBadge.status-undefined {
    color: #ddd;
}
.PatternFormatBadge.status-inprogress {
    color: #31b0d5;
}
.PatternFormatBadge.status-complete {
    color: #2ca02c;
}