
@import "base";

.PatternPageLoadingWrapper .PatternPage {
  height: 100%;
}
.PatternPage {
  position: relative;

  .PatternInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    opacity: 1;
    transition: height .5s ease-out, opacity .5s;
    &.closed {
      height: 0;
      opacity: 0;
    }
    > .inner {
      position: relative;
      min-height: 100%;
    }
  }
}

.PatternTopBar {
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.08);
  padding: rem-calc(7) 0;

  .inner {
    @include xy-grid-container();
    @include xy-grid();
    .name, .actions {
      @include xy-cell(shrink);
    }
    .set {
      @include xy-cell(auto);
    }
  }
  .name {
    font-size: rem-calc(15);
    font-weight: bold;
    line-height: rem-calc(18);
    align-self: center;
  }
  .SetSelector {
    width: auto;
    font-size: rem-calc(12);
    line-height: rem-calc(12);
    font-weight: bold;
  }
  select, .button, h4 {
    margin-bottom: 0;
  }
  .actions {
    @include menu-base;
  }
}

.PatternInfo {
  .inner {
    background: black;
    @include xy-grid-container();
    @include xy-grid();

    > .info, > .code {
      @include xy-cell(full);
      @include breakpoint(medium) {
        @include xy-cell(auto);
      }
    }
  }
  .close-button {
    z-index: 1;
    background: white;
    border: 1px solid #ECEAEA;
    border-radius: 2em;
    color: black;
    width: 1em;
    text-align:center;
    font-size: rem-calc(30);
    line-height: rem-calc(30);
    text-decoration: none;
  }

  &, label, a {
    color: white;
  }
  h3 {
    text-transform: uppercase;
    font-size: rem-calc(18);
    line-height: rem-calc(22);
    margin: 15px 0;
    font-weight: bold;
  }
  label {
    font-size: rem-calc(10);
    line-height: rem-calc(30);
    font-weight: bold;
    color: #767676;
  }
  a {
    font-size: rem-calc(14);
    line-height: rem-calc(17);
    text-decoration: underline;
  }
  p {
    font-size: rem-calc(14);
    line-height: rem-calc(30);
  }
}

.RenderFrame, .CodeFrame {
  iframe {
    width: 100%;
    height: 100%;
  }
}
.CodeFrame {
  position: relative;
  min-height: 100%;
  overflow: auto;
  .button-group {
    position:absolute;
    bottom: 1rem;
    right: 1rem;
    margin-bottom: 0;
  }
  pre {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  code {
    //background: transparent;
    //border: none;
    //color: white;
  }
}