.CodeFrame {
  position: relative; }
  .CodeFrame iframe {
    width: 100%;
    height: 100%; }
  .CodeFrame .button-group {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    margin-bottom: 0; }
