// This mixin calculates the ratios of the logo, name, and slogan
@mixin branding-layout($logo_h, $name_font_size, $divider_margin) {
  $logo_ratio : 63/61;
  $logo_w: $logo_h * $logo_ratio;
  $name_line_height: $name_font_size * 1.15;
  .logo {
    height: rem-calc($logo_h);
    width: rem-calc($logo_w);
    margin-top: rem-calc(($name_line_height - $logo_h) / 2);
    margin-bottom: rem-calc(($name_line_height - $logo_h) / 2);
  }
  .name {
    font-size: rem-calc($name_font_size);
    line-height: rem-calc($name_line_height);
  }
  .logo + .name:before {
    height: rem-calc($logo_h);
    margin: 0 rem-calc($divider_margin);
  }
}

.Branding {
  @include xy-grid-container();

  .name {
    font-family: $impact-font-family;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
  }
  .logo {
    stroke: white;
    fill: white;
  }
  .logo + .name:before {
    content: "";
    border-left: 1px dashed $blue-gray;
    width: 1px;
    display:inline-block;
    vertical-align: middle;
  }

  .slogan {
    display:block;
    margin-top: rem-calc(12);
    font-size: rem-calc(12);
    color: inherit;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    span {
      background-color: #1B2126;
    }
  }
  .top {
    display: flex;
    .logo, h1 {
      flex: 0 0 auto;
    }
  }


  @include branding-layout(51, 31, 20);
  // Variations:
  &.dark {
    .logo {
      stroke: black;
      fill: black;
    }
    .name {
      color:black;
    }
  }
  &.tiny {
    @include branding-layout(28, 24, 10);
  }
  &.large {
    @include breakpoint(large) {
      @include branding-layout(61, 73, 40);
    }
  }
}