
.HomepageTopBar {
  @include xy-grid-container();
  .logo {
    width:39px;
    position:fixed;
  }
  .maintained {
    color: #97A6B5;
    font-size: rem-calc(10);
    line-height: rem-calc(12);

    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: rem-calc(14) 0 rem-calc(14) rem-calc(39 +17);
  }
}
.lcm-logo {

  //display:inline-block;

  //margin-left:15px
}
.maintained{

}
