
.HomepageHero {
  padding: rem-calc(200) 0;
  .Branding {
    margin-bottom: rem-calc(20);
    @include grid-column-gutter();
  }
  ul.links {
    list-style:none;
    margin: 0;
    @include xy-grid();
    @include xy-grid-layout(1, li);
    @include breakpoint(medium) {
      @include xy-grid-layout(2, li);
    }
    @include breakpoint(large) {
      @include xy-grid-layout(3, li);
    }
  }
}