
.AboutProductPane {
  .inner {
    @include xy-grid-container();
    @include xy-grid();
  }
  .note, .shot {
    @include xy-cell();
  }
  .shot {
    display: none;
  }
  @include breakpoint(medium) {
    .shot {display: block}
    .note {margin-top: rem-calc(93);}
  }
  .shot {
    background: url(../img/laptop_illo.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 105%;
    min-height: rem-calc(500);
  }
  p {
    font-family: $header-font-family;
    font-size: rem-calc(30);
    letter-spacing: 2px;
    line-height: rem-calc(47);
    text-transform: uppercase;
    font-weight: 300;
  }
}

.FurtherReadingPane {
  h2 {
    font-size: rem-calc(42);
    line-height: rem-calc(51);
    margin-bottom: rem-calc(80);
    text-align: center;
    font-weight: bold;
  }
  ul.links {
    list-style: none;
    margin: 0;
    @include xy-grid();
    @include xy-grid-layout(1, 'li', true, $gutter-type: padding, $gutter-position: left right top bottom);
    li {
      a {
        display: block;
        border: 1px dashed $blue-gray;
        text-align: left;
        padding: rem-calc(18) rem-calc(26);
        color: white;
        font-size: rem-calc(18);
        font-weight: bold;
        letter-spacing: rem-calc(1);
        line-height: rem-calc(22);

        &:hover {
          background-color: $buttonblue;
          border-color: $buttonblue;
          border-style: solid;
        }
      }
    }
  }
  // BP Adjustments
  @include breakpoint(medium) {
    ul.links {
      @include xy-grid-layout(2, 'li', true, $gutter-type: padding, $gutter-position: left right top bottom);
      li a {
        padding-top: rem-calc(183);
      }
    }
  }
  @include breakpoint(large) {
    ul.links {
      @include xy-grid-layout(4, 'li', true, $gutter-type: padding, $gutter-position: left right top bottom);
    }

  }
}

.GetStartedPane {
  text-align:center;
  .logo {
    stroke: white;
    fill: white;
  }
  h2 {
    font-size: rem-calc(44);
    line-height: rem-calc(54);
    font-weight: bold;
    margin-bottom: rem-calc(96);
  }
  %step + %step {
    margin-top: rem-calc(96);
  }
}