{# @Component
name: Callout
group: Containers
description: A flexible container for featuring a piece of content, typically as a link to an extended view of that content.
samples:
    # This is where we define variants.  Variants are sets of values used
    # for the variables in the template.
    Primary:
        title: Primary Callout
        type: primary
        content: This is a primary callout.
    Secondary:
        title: Secondary Callout
        type: secondary
        content: This is a secondary callout.
    Success:
        title: Success Callout
        type: success
        content: This is a callout.
    Warning:
        title: Warning Callout
        type: warning
        content: This is a callout.
    Alert:
        title: Alert Callout
        type: alert
        content: This is an alert callout.
    Small:
        title: Small Callout
        type: small
        content: This is a small callout.
    Large:
        title: Large Callout
        type: small
        content: This is a large callout.
#}
<div class="callout {{ type ? type }}">
    {% if title %}<h5>{{ title }}</h5>{% endif %}
    {% block callout_content %}
        <p>{{ content }}</p>
    {% endblock %}
</div>