{% if _pattern %}{% block patterninfo %}
name: Card
_group: Containers
_description: A flexible container for featuring a piece of content, typically as a link to an extended view of that content.
variables:
    # This is where we declare the TYPES of the variables that are used
    # in this template.
    title: string
    img_src: string
variants:
    # This is where we define variants.  Variants are sets of values used
    # for the variables in the template.
    Concise:
        _description: This is an example of a card with a short headline.
        title: Lorem Ipsum
        img_src: //placehold.it/240x240.jpg
    Verbose:
        _description: This is an example of a card with a long headline.
        title: Lorem ipsum dolor sit amet, consectetur adipiscing elit
        img_src: //placehold.it/240x240.jpg
{% endblock %}{% endif %}
<article class="Card">
    <img src="{{ img_src }}" />
    <h3>{{ title }}</h3>
</article>