{% if _pattern %}{% block patterninfo %}
name: Form Input
description: An input element of any type.
tags:
    group: Atom>Form
variables:
    label: string
    type: string
@default:
    label: This is a textfield
    type: textfield

{#values:#}
    {#default:#}
        {#label: This is a textfield#}
        {#type: textfield#}
    {#datetime:#}
        {#label: This is a datetime input#}
        {#type: datetime#}
{% endblock %}{% endif %}
<label><span>{{ label }}</span>
    <input type="{{ type }}"/>
</label>