{% if _component %}{% block componentinfo %}
name: Form Input
_group: Atom>Form
_description: An input element of any type.
variables:
    # This is where we declare the TYPES of the variables that are used
    # in this template.
    element_label: string
    input_type: string
samples:
    # This is where we define samples.  Samples are sets of values used
    # for the variables in the template.
    Text:
        element_label: This is a textfield.
        input_type: textfield
    Datetime:
        element_label: This is a datetime.
        input_type: datetime
{% endblock %}{% endif %}
<label><span>{{ element_label }}</span>
    <input type="{{ input_type }}"/>
</label>