{% if _pattern %}{% block patterninfo %}
name: Form Block
_description: A block displaying a form
_group: Organism>Form
variables:
    form: pattern
    lead: string
variants:
    Default:
        form: subscribe-form.twig
        lead: This is a form block.
{% endblock %}{% endif %}
<div class="form-block">
    <p class="lead">{{ lead }}</p>
    {{ form }}
</div>