{% if _component %}{% block componentinfo %}
name: Subscribe form
_description: A newsletter signup form
_group: Molecule>Form
variables:
    button: component
{% endblock %}{% endif %}
<form>
    {% include 'form-input.twig' with {
    label: 'E-mail address',
    type: 'email',
    } %}
    {{ button }}
</form>