{% if _pattern %}{% block patterninfo %}
name: Subscribe form
description: A newsletter signup form
tags:
    group: Molecule>Form
variables:
    button: pattern
{% endblock %}{% endif %}
<form>
    {% include 'form-input.twig' with {
    label: 'E-mail address',
    type: 'email',
    } %}
    {{ button }}
</form>