//Theme colors

$black: #000;
$charcoal: #292F36;
$ash: #4F545A;
$storm: #546267;
$seafoam: #649490;
$mint: #4ECDC4;
$eggshell: #EBECEC;
$white: #fffffe;

$body-background: $white;
$body-font-color: $black;

//Site fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');

//Site Icons
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

$header-font-family: 'Montserrat', sans-serif;
$body-font-family: $header-font-family, sans-serif;
$impact-font-family: $header-font-family, sans-serif;
$font-family-monospace: Menlo, Consolas, 'Liberation Mono', Courier, monospace;

$grid-container: 1440px;
$grid-container-padding: 0;

$code-background: $eggshell;
$code-color: $storm;
$code-border: 0;
$code-padding: 0 .125rem;
$code-font-family: $font-family-monospace;


//Mixins

@mixin font-bold {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}
