@import "../base";

.PatternInfoButton {
  @include button($background: black, $background-hover: black);
  font-size: rem-calc(8);
  line-height: rem-calc(10);
  text-transform:uppercase;
  font-weight: bold;
  color: #FFFFFF;
}

.InfoCloseButton {
  background: white;
  border: 1px solid #ECEAEA;
  border-radius: 2em;
  color: black;
  width: 1em;
  text-align:center;
  font-size: rem-calc(30);
  line-height: rem-calc(30);
  text-decoration: none;
}