@import "../../theme/_base";

.Card {
  border: 2px dashed $eggshell;

  a {
    color: inherit;
    display: block;
    padding: rem-calc(20);
  }

  h6 {
    font-weight: 600;
    font-size: rem-calc(12);
    color: $white;
    text-transform: uppercase;
    letter-spacing: .75px;
  }
  h5 {
    font-weight: 600;
    font-size: rem-calc(16);
  }
  &:hover {
    border-color: transparent;
    background-color: $eggshell;

    h5, h6 {
      color: $charcoal;
    }
  }




}

.CardGrid {
  @include xy-grid();

  .Card {
    @include xy-cell($gutter-position: right left bottom top);

    @include breakpoint(medium) {
      @include xy-cell(2/4);
    }
    @include breakpoint(large) {
      @include xy-cell(1/4);
    }
  }
}
