
@import "../base";

.MenuList {
  list-style:none;
  margin: 0;
  @include menu-base;
  display: block;
}
.MenuItem {
  display: block;
  border-top: 1px solid #2A2A2A;
  width: 100%;

  > a {
    display: block;
    font-size: rem-calc(14);
    line-height: rem-calc(17);
    font-weight: bold;
    letter-spacing: 1px;
    padding: rem-calc(12.5) rem-calc(24);
  }
  &.l1 {
    > a {
      text-transform: uppercase;
      color: white;
    }
  }
  &.l2 {
    > a {
      text-transform: uppercase;
      color: #AFAFAF;
      padding-left: rem-calc(48);
    }
  }
  &.l3 {
    > a {
      color: #AFAFAF;
      padding-left: rem-calc(60);
    }
  }
  &.collapsible {
    > a:before {
      content: "-";
      float:right;
    }
    &.collapsed > a:before {
      content: "+";
    }
  }
}

.MenuItem.collapsible {
  &.collapsed .MenuList {
    visibility: hidden;
  }
}