@import "../../theme/_base";

.NavDrawer {
  background-color: $ash;
	box-shadow: 0 2px 5px 0 $ash;
  @include xy-grid(vertical);
  .CloseButton {
    margin-right: rem-calc(20);
    text-align: right;
  }
  > .SearchForm {
    @include xy-cell(shrink, $gutter-position: right left top, $vertical: true);
    margin-left: rem-calc(20);
    margin-right: rem-calc(43);
    @include breakpoint(xxlarge) {
      @include xy-cell(shrink, $gutter-position: right left top, $vertical: true);
    }
  }
  > .MenuList {
    @include xy-cell(auto, $gutter-output: false, $gutter-type: none, $vertical: true);
    overflow:auto;
  }
}

.NavDrawer__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  > span {
    @include font-bold;
    color: $white;
    padding-right: 0.625rem;
    padding-left: rem-calc(20);
    padding-top: 1.125rem;
    padding-bottom: 0.625rem;
    height: 3.75rem;
  }
}

.SearchForm {
  position: relative;

  input {
    border: none;
    background-color: $charcoal;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding: 10px 13px;
    height: auto;
    margin-bottom: 0;
    border-radius: 0;
    padding-left: rem-calc(40);
    border: solid 2px $charcoal;

    &:focus {
      background-color: $charcoal;
      border: solid 2px $mint;
      box-shadow: 0 0;
    }
  }
  i {
    position: absolute;
    top: 25%;
    left: rem-calc(15);
    font-size: rem-calc(13);
    color: $white;
  }
}
