
@import "../base";

.PatternInfo {
  overflow-y: auto;
  .inner {
    background: $dark-bg;
    @include xy-grid-container();
    @include xy-grid();
    position: relative;

    > .info, > .code {
      @include xy-cell(full);
      @include breakpoint(medium) {
        @include xy-cell(auto);
      }
    }
    .controls {
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 1;
    }
  }
  &, label, a {
    color: white;
  }
  h3 {
    text-transform: uppercase;
    font-size: rem-calc(18);
    line-height: rem-calc(22);
    margin: 15px 0;
    font-weight: bold;
  }
  label {
    font-size: rem-calc(10);
    line-height: rem-calc(30);
    font-weight: bold;
    color: #767676;
  }
  a {
    font-size: rem-calc(14);
    line-height: rem-calc(17);
    text-decoration: underline;
  }
  p {
    font-size: rem-calc(14);
    line-height: rem-calc(30);
  }
}

.CodeFrame {
  position: relative;
  min-height: 100%;
  .button-group {
    position:absolute;
    bottom: 1rem;
    right: 1rem;
    margin-bottom: 0;
  }
  pre {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

