@import "../../theme/_base";

.MannequinTopBar {
  background: $gray;
  color: $white;

  .inner {
    @include xy-grid-container();
    @include xy-grid();
    padding: 0 calc(39.67px / 2);
    > .logo, > .opener {
      @include xy-cell(shrink, $gutter-type: padding);
    }
    > .logo {
      padding-top: 11.6px;
      padding-bottom: 11.6px;
    }
    > .title {
      @include xy-cell(auto);
    }
  }

  .opener {
    @extend %toggle-button;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    &:hover {
      color: $mint;
    }
    i.menu-icon {
      margin-left: rem-calc(17);
    }
  }
  .MannySmall {
    width: 44.8px;
  }
}
