@import "../../theme/_base";

.MannequinTopBar {
  background: $charcoal;
  color: $white;

  .inner {
    @include xy-grid-container();
    @include xy-grid();
    padding: 0 calc(39.67px / 2);
    > .logo {
      padding-top: 11.6px;
      padding-bottom: 11.6px;
    }
    > .title {
      @include xy-cell(auto);
    }
  }

  .MannySmall {
    width: 44.8px;
  }
}
