<!doctype html>
<html>
{% include 'partials/head.twig' %}

<body class="page">
{% include 'partials/topbar.twig' %}
<main class="Page">
    <h1 class="title">{{ title }}</h1>
    <aside class="sidebar">
        {#{#}{#if collection}}#}
        {#{#}{#isnt collection 'Menu'}}#}
        {#<h4>In this section</h4>#}
        {#<ul class="menu">#}
            {#{#}{#each (lookup collections collection) as |link| }}#}
            {#<li class="{#}{#is link.path ../path}}active{{/is}}">#}
                {#<a href="{{link.path}}">{{link.title}}</a>#}
            {#</li>#}
            {#{{/each}}#}
        {#</ul>#}
        {#{{/isnt}}#}
        {#{{/if}}#}
    </aside>
    <div class="content">
        {{ contents }}
    </div>
</main>
{% include 'partials/footer.twig' %}
{% include 'partials/foot.twig' %}
</body>
</html>