<!doctype html>
<html>
{% include 'partials/head.twig' %}

<body class="home grid-container">
{% include 'partials/homepage-topbar.twig' %}
{{ contents }}
{% include 'partials/footer.twig' %}
{% include 'partials/foot.twig' %}
</body>
</html>