@import "../../theme/_base";

@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-callout;

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  .app-inner {
    width: 200%;
    height: 100%;
    @include xy-grid($wrap: false);
    transform: translate(0, 0);
    transition: transform .5s ease;
  }
  .main-frame {
    @include xy-cell(.5, $gutter-output: false, $gutter-type: none);
    @include xy-grid($direction: vertical, $wrap: false);

    .MannequinTopBar {
      @include xy-cell(shrink, $vertical: true, $gutter-output: false, $gutter-type: none);
    }
    main {
      @include xy-cell(auto, $vertical: true, $gutter-output: false, $gutter-type: none);
      overflow-y:auto;

      &.no-scroll {
        overflow-y:hidden;
      }
    }
  }
  .NavDrawer {
    @include xy-cell(.5, $gutter-output: false, $gutter-type: none);
    position: relative;
    z-index: 5;
    visibility: hidden;
    transition: visibility 0s linear .5s;
  }
  &.drawer-open {
    .app-inner {
      transform: translate(-50%, 0);
      transition: transform .5s ease;
    }
    .NavDrawer {
      visibility: visible;
      transition: none;
    }
  }

  @include breakpoint(large) {
    .app-inner {
      width: 100%;
    }
    .main-frame {
      @include xy-cell(full, $gutter-output: false, $gutter-type: none);
    }
    .NavDrawer {
      @include xy-cell(3/12, $gutter-output: false, $gutter-type: none);
      min-width: 25%;
      transform: translate(0, 0);
      transition: transform .5s ease, visibility 0s linear .5s;
    }
    &.drawer-open {
      .app-inner {
        transform: translate(0, 0);
      }
      .NavDrawer {
        transform: translate(-100%, 0);
        transition: transform .5s ease;
      }
    }
  }
  @include breakpoint(xxlarge) {
    .main-frame {
      @include xy-cell(auto, $gutter-output: false, $gutter-type: none);
    }
    .NavDrawer {
      visibility: visible;
      transition: none;
    }
    .drawer-toggle {
      display: none;
    }
    &.drawer-open {
      .NavDrawer {
        transform: translate(0, 0);
      }
    }
  }
}
