@import "../../theme/_base";

.MannequinHome {
  background: $charcoal;
  color: $white;

  .Branding {
    margin-top: 8%;
    margin-bottom: 10%;
  }
  .quicklinks {
    h4 {
      @include font-bold;
      text-align: center;
    }
  }
}

.GetStartedButton {
    margin: 0 auto;
}
