@import "../../theme/_base";

.MannequinHome {
  background: $charcoal;
  color: $white;

  .Branding {
    margin-top: 8%;
    margin-bottom: 10%;
  }
  .quicklinks {
    h4 {
      @include font-bold;
      text-align: center;
    }
  }
}

.button--get-started {
  @include border-button;
    width: rem-calc(322);
    margin: 0 auto;
    display: block;
    padding: rem-calc(20) 0;
    border: 2px dashed white;
    text-align: center;
    border-radius: rem-calc(50);
    color: $white;
    letter-spacing: rem-calc(2);
    font-size: rem-calc(14);
    &:hover {
      color: $charcoal;
      background: $mint;
      border: dashed 2px $mint;
    }
}
