@import "../../theme/_base";

.MannequinHome {
  background: $charcoal;
  color: $white;

  .Branding {
    margin-top: 8%;
    margin-bottom: 10%;
  }
  .quicklinks {
    h4 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: rem-calc(29);
      font-family: $impact-font-family;
      font-weight: bold;
      font-size: rem-calc(9);
    }
  }
}
