
@import "../scss/init";

// This mixin calculates the ratios of the logo, name, and slogan
@mixin branding-layout($logo_w, $name_font_size, $divider_margin, $reduce_on_mobile: true) {
  .logo {
    // Height is calculated at a ratio of 61/63.  Change this if the logo image changes
    // dimensions.
    $logo_h: (61/63) * $logo_w;
    width: rem-calc($logo_w);
    height: rem-calc($logo_h);
    // Logo should be vertically centered, relative to the name.
    margin-top: rem-calc(($name_font_size - $logo_h) / 2 * .9);
  }
  .name {
    @if($reduce_on_mobile) {
      font-size: rem-calc($name_font_size * .85);
      @include breakpoint(medium) {
        font-size: rem-calc($name_font_size);
      }
    }
    @else {
      font-size: rem-calc($name_font_size);
    }

  }
  .separator {
    // Separator should be 60% of the name font size.
    height: rem-calc($name_font_size * .6);
    // Separator should be vertically centered relative to the name.
    $vmargin: rem-calc($name_font_size * .2);
    // Separator should be have right margin as specified, left margin
    // applied at a ratio of 42/39 of the right margin.
    margin: $vmargin rem-calc($divider_margin) $vmargin rem-calc($divider_margin * 42/39);
  }
  .slogan {
    margin-top: rem-calc(10);
    // Shift the slogan left 6px when the name_font_size is 73px, and scale
    // that margin accordingly at all other sizes.
    margin-left: rem-calc((6 * $name_font_size / 73));
  }
}

.Branding {
  display: inline-flex;
  .name {
    font-family: $impact-font-family;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
    line-height: 1;
  }
  .logo {
    stroke: white;
    fill: white;
  }
  .logo + .name:before {
    content: "";
    border-left: 1px dashed $dashing-gray;
    width: 1px;
    display:inline-block;
    vertical-align: middle;
  }

  .slogan {
    font-size: rem-calc(12);
    color: inherit;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    span {
      background-color: #1B2126;
    }
  }
  .separator {
    border-left: 1px dashed $dashing-gray;
  }

  @include branding-layout(53, 31, 20);
  // Variations:
  &.dark {
    .logo {
      stroke: $black;
      fill: $black;
    }
    .name {
      color: $black;
    }
  }
  &.tiny {
    @include branding-layout(27, 24, 10, false);
  }
  &.large {
    @include breakpoint(large) {
      @include branding-layout(63, 73, 39);
    }
  }
}