
@import "../scss/init";

.Bubble {
  height: rem-calc(28);
  width: rem-calc(28);

  border: 2px solid white;
  border-radius: 50%;
  display:block;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &.blurry {
    filter: blur(3px);
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.BubbleCluster {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  .Bubble {
    animation: none;
    + .Bubble {
      margin-top: -1px;
    }
  }
}

.BubbleLayerBoundary {
  position: relative;
  > * {
    position: relative;
    z-index: 1;
  }
  .BubbleLayer {
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
  }
}
.BubbleLayer {
  > .Bubble, .BubbleCluster {
    position: absolute;
  }
}