
@import "../scss/init";

.page-footer {
  border-top: 1px dashed $dashing-gray;
  padding: rem-calc(75 0);
  text-align:center;
  background: $darkblue;

  .Branding {
    margin-bottom: rem-calc(78);
    .top {
      justify-content: center;
    }
  }
  .footer-link.button {
    margin-left: auto;
    margin-right: auto;
  }

}

.Newsletter {
  max-width: rem-calc(321px);
  margin: 0 auto;

  div {
    display: flex;
    margin-bottom: 1rem;

    input {
      border-top-left-radius: 9999px;
      border-bottom-left-radius: 9999px;
      padding: rem-calc(20);
      padding-left: 1.5rem;
      font-size: rem-calc(13);
      height: auto;
      flex: 1 1 0;
      border: none;
      background: white;
    }
    button {
      height: auto;
      border-top-right-radius: 9999px;
      border-bottom-right-radius: 9999px;
      padding: .5rem 1rem;
      color: white;
      @include dashing-hoverable;
      font-size: rem-calc(13);
    }
    button, input {
      margin-bottom: 0;
    }
  }
  input, button {
    display: inline-block;
  }
}