
@import "../scss/init";

@mixin footer-heading {
  margin-bottom: rem-calc(26.5);
  text-align: left;
  color: $white;
  font-family: $body-font-family;
  font-size: rem-calc(15);
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.page-footer {
  border-top: 1px dashed $blue-gray;
  background: $darkblue;
  text-align: center;
  @include breakpoint(large) {
    text-align: left;
  }
  .GetSupportButton {
    margin-right: auto;
    margin-left: auto;
    max-width: rem-calc(242);
  }
  .inner {
    margin: 0 auto;
    padding-top: rem-calc(24);
    padding-bottom: rem-calc(96);
    @include breakpoint(small only) {
      padding-left: 6%;
      padding-right: 6%;
    }
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: rem-calc(280) rem-calc(300);
      max-width: rem-calc(580);
    }
    @include breakpoint(large) {
      padding-left: 7.5%;
      padding-right: 7.5%;
      grid-template-columns: auto 25% 27.34375%;
      grid-template-rows: rem-calc(60) auto;
      max-width: rem-calc(1280);
    }
    .Branding {
      align-items: center;

      @include breakpoint(small only) {
        margin-bottom: rem-calc(38);
      }
      @include breakpoint(medium only) {
        grid-row-start: 2;
        grid-column-start: 2 span;
        justify-self: center;
        margin: rem-calc(65) 0 rem-calc(39);
      }
      @include breakpoint(large) {
        grid-row-start: 1;
      }
    }
    .copyright {
      display: block;
      align-self: end;
      font-size: rem-calc(14);
      line-height: 1.2;
      @include breakpoint(small only) {
        margin-bottom: rem-calc(63);
      }
      @include breakpoint(medium only) {
        grid-row-start: 3;
        grid-column-start: 2 span;
      }
      @include breakpoint(large) {
        grid-column-start: 1;
        grid-row-start: 2;
      }
    }
    .learn-more {
      @include breakpoint(medium) {
        grid-column-start: 1;
        grid-row-start: 1;
        border-right: 1px dashed $blue-gray;
        padding-right: rem-calc(44.5);
      }
      @include breakpoint(large) {
        grid-column-start: 2;
        grid-row-start: span 2;
        padding-right: rem-calc(52.5);
      }
      @include breakpoint(small only) {
        border-bottom: 1px dashed $blue-gray;
        padding-bottom: rem-calc(58.5);
        margin-bottom: rem-calc(64);
      }
      h2 {
        @include footer-heading;
      }
      .button {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        max-width: none;
      }
    }
    .NewsletterSignup {
      max-width: none;
      @include breakpoint(medium) {
        grid-column-start: 2;
        grid-row-start: 1;
        padding-left: rem-calc(37.5);
      }
      @include breakpoint(large) {
        grid-column-start: 3;
        grid-row-start: span 2;
      }
      #NewsletterSignup--text-field {
        max-width: none;
      }
      label {
        @include footer-heading;
      }
      div {
        min-width: rem-calc(200);
      }
    }
  }

}

