
@import "../scss/init";

.GetSupportButton {
  $icon-size: rem-calc(20);
  @include dashing-button;
  @include capsule-shape;
  display: block;
  text-align:center;
  padding-left: rem-calc(28);
  padding-right: rem-calc(28);
  color: white;
  background: $darkblue;
  margin-bottom: 1rem;

  &:hover {
    color: white;
  }

  .text {
    line-height: $icon-size;
  }
  .icon {
    font-size: $icon-size;
    margin-right: 20px;
  }
}