
@import "../scss/init";

.HomepageTopBar {
  @include xy-grid-container();
  a.logo-link {
    margin-left: rem-calc(15);
  }
  .logo {
    width:rem-calc(39);
    position:fixed;
  }
  .maintained {
    color: #97A6B5;
    font-size: rem-calc(10);
    line-height: rem-calc(12);

    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: rem-calc(14) 0 rem-calc(14) rem-calc(39 +17);
  }
}