
@import "../scss/init";

.PageMenu {
  $lr_padding_basis: 30;
  &, li {
    list-style: none;
    margin: 0;
  }
  li {
    border-top: 1px dashed #39424A;
    &:last-child {
      border-bottom: 1px dashed #39424A;
    }
    &.active {
      border-left: 8px solid #4A90E2;
      a {
        padding-left: rem-calc($lr_padding_basis - 8);
      }
      > a {
        color: #4A90E2;
      }
    }
  }
  a {
    font-family: Helvetica;
    display: block;
    font-weight: bold;
    font-size: rem-calc(13);
    line-height: rem-calc(16);
    color: white;
    padding: rem-calc(15) rem-calc($lr_padding_basis);
    &:hover {
      color: inherit;
    }
  }
  .PageMenu {
    &:before {
      content: '';
      display: block;
      border-top: 1px dashed #39424A;
      margin-left: rem-calc($lr-padding_basis - 8);
      margin-right: rem-calc($lr_padding_basis);
    }
    li {
      border: none;
    }
  }
  a.anchor-link {display: none;}
  @include breakpoint(large) {
    a.anchor-link {display: block;}
  }
}
