@import "../scss/init";

.Page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  > header {
    position: sticky;
    z-index: 1;
    top: 0;
    nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 0;
      overflow: hidden;
      margin-top: 1px;
      visibility: hidden;
      transition: height .25s ease-in-out, visibility 0s linear .25s;
      &.open {
        transition: height .25s ease-in-out;
        height: calc(100vh - 58px);
        visibility: visible;
        overflow: auto;
      }
    }
  }
  main {
    flex: 1;
    position: relative;
    margin: rem-calc(20);
  }

  .EditLink {
    position: absolute;
    right: 0;
    top: 0;
    font-size: rem-calc(18);
    line-height: rem-calc(74);
    margin: 0 rem-calc(30);
    color: lighten($body-font-color, 50);
    transition: color .25s;
    &:hover {
      transition: color .25s;
      color: $body-font-color;
    }
  }


  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr auto;
    > header {
      position: static;
      nav {
        position: static;
        height: auto;
        visibility: visible;
        overflow: auto;
        &.open {height: auto;}
      }
    }
    > footer {
      grid-column: 1/3;
    }
    main {
      margin: rem-calc(30) rem-calc(60);
    }
    .HamburgerButton { display: none; }
  }


  > header {
    background: #181D22;
    color: white;
    text-align: center;
    border-bottom: 1px dashed #39424A;
    .HamburgerButton {
      position: absolute;
      right: 0;
      z-index: 1;
    }
    .Branding {
      margin: rem-calc(16);
    }
  }

  main {
    @extend %textual;
  }
}