@import "../scss/init";

.Page {
  padding-top: rem-calc(50);
  padding-bottom: rem-calc(70);

  .title {
    @include xy-cell(full);
    font-size: rem-calc(53);
    line-height: rem-calc(61);
    padding-bottom: rem-calc(22);
    margin-bottom: rem-calc(60);
    position: relative;
    font-weight: bold;
    &:after {
      width: rem-calc(70);
      height: 1px;
      content: "";
      border-bottom: 1px dashed $dashing-gray;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .content {
    font-size: rem-calc(18);
  }
  // Layout:
  @include xy-grid-container();
  @include xy-grid();
  .content { @include xy-cell(full); }
  .Sidebar { @include xy-cell(full); }
  @include breakpoint(medium) {
    .content { @include xy-cell(2/3); }
    .Sidebar { @include xy-cell(1/3); }
  }
  @include breakpoint(large) {
    .content { @include xy-cell(5/6); }
    .Sidebar { @include xy-cell(1/6); }
  }
}

.PageMenu {
  &, li {
    list-style: none;
    margin: 0;
  }
  a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: rem-calc(13);
    color: inherit;
    line-height: rem-calc(16);
    padding: rem-calc(15);
    &:hover {
      color: inherit;
    }
  }
}

.CollectionIndex {
  list-style: none;
  margin: 0;
  @include xy-grid();
  @include xy-grid-layout(1, 'li', $gutter-position: left right top bottom);
  @include breakpoint(large) {
    @include xy-grid-layout(2, 'li', $gutter-position: left right top bottom);
  }
  li a {
    @include dashing-hoverable;
    padding: rem-calc(20);
    display: block;
    color: $black;
    h4 {}
    p { margin-bottom: 0; }
  }
}