@import "../scss/init";

.Page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  > header {
    position: sticky;
    z-index: 1;
    top: 0;
    nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 0;
      overflow: hidden;
      margin-top: 1px;
      visibility: hidden;
      transition: height .25s ease-in-out, visibility 0s linear .25s;
      &.open {
        transition: height .25s ease-in-out;
        height: calc(100vh - 58px);
        visibility: visible;
      }
    }
  }
  main {
    flex: 1;
    position: relative;
  }

  .EditLink {
    position: absolute;
    right: 0;
    top: 0;
    font-size: rem-calc(18);
    line-height: rem-calc(74);
    margin: 0 rem-calc(30);
    color: lighten($body-font-color, 50);
    transition: color .25s;
    &:hover {
      transition: color .25s;
      color: $body-font-color;
    }
  }


  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr auto;
    > header {
      position: static;
      > .h-inner {
        position: sticky;
        top: 0;
        // Allow the nav to scroll if there's not enough vertical space.
        max-height: 100vh;
        overflow: auto;
      }
      nav {
        position: static;
        height: auto;
        visibility: visible;
        overflow: auto;
      }
    }
    > footer {
      grid-column: 1/3;
    }
    .HamburgerButton { display: none; }
  }


  > header {
    background: #181D22;
    color: white;
    text-align: center;
    border-bottom: 1px dotted #39424A;
    button {
      position: absolute;
      right: 0;
      z-index: 1;
    }
    nav {
      text-align: left;
      background: #181D22;
    }
    .Branding {
      margin: rem-calc(16);
    }
    .PageMenu {
      a.anchor-link {display: none;}
      @include breakpoint(large) {
        a.anchor-link {display: block;}
      }
    }
  }
  > nav {
    background: #181D22;
    color: white;
  }


  .content, .title {
    margin: 0 30px;
  }

  main {
    @extend %textual;
  }
}

%textual {
  h1 {
    font-size: rem-calc(53);
    font-weight: 300;
  }
  h2 {
    font-size: rem-calc(24);
    font-weight: 300;
  }
  h3 {
    font-size: rem-calc(18);
  }
  p, ul, ol {
    font-size: rem-calc(18);
    font-family: helvetica;
    line-height: rem-calc(48);
    letter-spacing: 0.1px;
    font-weight: 300;
  }
  a {
    text-decoration: underline;
  }
  // Inline code
  code {
    font-size: rem-calc(16);
    color: #080808;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    background-color: #FBFBFB;
  }
}