body {
  overflow-x: hidden;
}

// Code blocks.
pre code {
  display:block;
  margin-bottom: $paragraph-margin-bottom;
  padding: rem-calc(5);
}

%dashing-button {
  @include dashing-hoverable;
  text-transform: uppercase;
  max-width: rem-calc(321px);
  line-height: 1;
  font-size: rem-calc(10);
  font-weight: bold;
  padding: rem-calc(20) rem-calc(64);
}

%capsule-shape{
  border-radius: 9999px; /* Any impossibly large number will do, 9999 is arbitrary */
}

.button {
  // Button variants:
  @extend %capsule-shape;
  &.dashing {
    @extend %dashing-button;
  }
  &.dashing-icon {
    @extend %dashing-button;
    @include xy-grid();
    .icon {
      @include xy-cell(shrink, $gutter-output: false, $gutter-position: right);
      margin-left: -1.5em;
      font-size: rem-calc(20);
      line-height: rem-calc(20);
    }
    .text {
      @include xy-cell(auto, $gutter-output: false);
      line-height: rem-calc(22);
    }
  }
  &.blue {
    background: $buttonblue;
    text-transform: uppercase;
    max-width: rem-calc(321px);
    line-height: rem-calc(20);
    font-size: rem-calc(10);
    font-weight: bold;
    padding: rem-calc(21) rem-calc(64);
    &:hover {
      background: $buttonblue;
    }
  }
}
