body {
  overflow-x: hidden;
}

// Code blocks.
pre code {
  display:block;
  margin-bottom: $paragraph-margin-bottom;
}

%dashing-button {
  @include button($background: transparent, $background-hover: $buttonblue);
  border: 1px dashed $blue-gray;
  text-transform: uppercase;
  max-width: rem-calc(321px);
  transition-property: background-color, border-color, border-style, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  line-height: 1;
  font-size: rem-calc(10);
  font-weight: bold;
  padding: rem-calc(20) rem-calc(64);

  &:hover {
    border-style: solid;
    border-color:$buttonblue;
    box-shadow: 0 9px 5px 0 rgba(0, 0, 0, 0.15)
  }
}

.blue {
  background: $buttonblue;
  text-transform: uppercase;
  max-width: rem-calc(321px);
  line-height: 1;
  font-size: rem-calc(10);
  font-weight: bold;
  padding: rem-calc(16) rem-calc(64);
  &:hover {
    background: $buttonblue;
  }
}

.button {
  // Button variants:
  &.dashing {
    @extend %dashing-button;
  }
  &.dashing-icon {
    @extend %dashing-button;
    padding: rem-calc(10) rem-calc(64);
    @include xy-grid();
    .icon {
      @include xy-cell(shrink, $gutter-output: false, $gutter-position: right);
      margin-left: -1.5em;
      font-size: rem-calc(20);
      line-height: rem-calc(20);
    }
    .text {
      @include xy-cell(auto, $gutter-output: false);
      line-height: rem-calc(22);
    }
  }
}

ul li code { line-height: 2.5rem; }
