.home {
  background-color: $darkblue;
  color: $white;
  .top-bar {
    background-color: $darkblue;
    padding: 0;
  }
}

@import "components/branding";
@import "components/homepage-hero";


.button.dashing {
  @include button($background: transparent, $background-hover: $buttonblue);
  border: 1px dashed $blue-gray;
  text-transform: uppercase;

  transition-property: background-color, border-color, border-style, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  line-height: 1;
  font-size: rem-calc(10);
  font-weight: bold;
  padding: rem-calc(20) rem-calc(64);

  &:hover {
    border-style: solid;
    border-color:$buttonblue;
    box-shadow: 0 9px 5px 0 rgba(0, 0, 0, 0.15)
  }

//  border: 1px dashed;
//  background-color: transparent;
//  border-color:$blue-gray;
//  color: white;
//  height: 61px;
//  min-width: 240px;
//  max-width: 291px;
//  text-align: center;
//  padding: 0;
//  font-weight: 500;
//  font-size: 10px;
//  text-transform: uppercase;
//  letter-spacing: 0.6px;
//  outline: none;
//  margin-right: 10px;
//  margin-bottom: 10px;
//  padding-left:40px;
//  transition-property: background-color, border-color, border-style, box-shadow;
//  transition-duration: 0.15s;
//  transition-timing-function: ease-in-out;
//  box-shadow: none;
//  display: block;
//  text-align: left;
//}
//
//.button1:hover{
//  background-color: $buttonblue;
//  border-color:$buttonblue;
//  border-style: solid;
//  box-shadow: 0 9px 5px 0 rgba(0, 0, 0, 0.15)
//}

}

.lcm-logo {
  width:39px;
  //display:inline-block;
  position:fixed;
  //margin-left:15px
}

.site-logo {
  max-width: 63px;
  height: auto;
}


.home h1 {
  //font-size: rem-calc(42);
  letter-spacing: 0.3px;
  font-weight: bold;
  text-transform: uppercase;

}


.maintained{
  height: 39px;
  color: #97A6B5;
  //font-family: Helvetica;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 12px;
  padding-left: 80px;
  padding-top: 15px;
  text-transform: uppercase;
  display: inline-block;
  top:0;
}




//.mannequin{
//  height: 80px;
//  margin-left: 41.5px;
//  padding-top: 10px;
//  display: -webkit-flex;
//  display: flex;
//  vertical-align: middle;
//  color: white;
//  //font-family: Gill sans;
//  font-size: 73px;
//  font-weight: bolder;
//  line-height: 12px;
//  text-transform: uppercase;
//  display: inline-block;
//}

.about-title{
  width:579px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 47px;
  //font-family: "Gill Sans" ;
  margin-bottom:30px;
  text-transform: uppercase;
}

.sub-title{
  height: 29px;
  width: 442px;
  color: #FFFFFF;
  //font-family: "Gill Sans";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.step-headline {
  height: auto;
  width: 672px;
  background-color: #1B2126;
  padding: 25px 0px 5px 0px;
  margin-bottom: 40px;
}

.button1{
  border: 1px dashed;
  background-color: transparent;
  border-color:$blue-gray;
  color: white;
  height: 61px;
  min-width: 240px;
  max-width: 291px;
  text-align: center;
  padding: 0;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  outline: none;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left:40px;
  transition-property: background-color, border-color, border-style, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  box-shadow: none;
  display: block;
  text-align: left;
}

.button1:hover{
  background-color: $buttonblue;
  border-color:$buttonblue;
  border-style: solid;
  box-shadow: 0 9px 5px 0 rgba(0, 0, 0, 0.15)
}

/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */
.mouse-icon {
  margin: auto;
  border: 2px solid #fff;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: block;
  z-index: 10;
  opacity: 0.7;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
  animation-name: drop;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 2px;
  color: white;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}

.button2{
  border: 1px dashed $blue-gray;
  background-color: transparent;
  color: white;
  height: 180px;
  text-align: left;
  padding: 20px;
  width: calc(19%);
  margin: 0px 10px 0px 10px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  position:relative;
  transition-property: background-color, border-color, border-style, color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.button2:hover{
  background-color: $buttonblue;
  border-color:$buttonblue;
  border-style: solid;
  color: white;
}

.button3{
  border: 1px dashed $blue-gray;
  background-color: transparent;
  color: white;
  height: 180px;
  text-align: left;
  padding: 20px;
  width: calc(25%);
  margin: 0px 10px 0px 10px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  position:relative;
  transition-property: background-color, border-color, border-style, color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.button3:hover{
  background-color: $buttonblue;
  border-color:$buttonblue;
  border-style: solid;
  color: white;
  h4{color:white;}
}



h2{
  width: inherit;
  color: #FFFFFF;
  //font-family: "Gill Sans";
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

h3{
  //width: 579px;
  //color: #7E92A5;
  //font-family: Helvetica;
  //font-size: 12px;
  //font-weight: 300;
  //line-height: 24px;
  //text-align: center;
}

h4{
  color: #7E92A5;
  //font-family: Helvetica;
  font-size: 12px;
  font-weight: 300;
  line-height: 19px;
  width: 220px;
  margin: 0px;
}

.get-started {
  margin-bottom: 100px;
}

hr{
  border-top: 1px dashed $blue-gray;
  background-color: $darkblue;
  width: 309px;
}

.laptop-img {
  overflow: hidden;

  img {
    max-height: 390px;
    width: auto;
    margin-left: 100px;
  }
}