// This file is included from partials outside of the
// current directory.  It only initializes Foundation
// and any mixins we have declared.  Do not write CSS
// here.
@import "variables";
@import "~foundation-sites/scss/foundation";

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

@mixin dashing-hoverable {
  border: 1px dashed $blue-gray;
  transition-property: background-color, border-color, border-style, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  background: transparent;

  &:hover {
    border-style: solid;
    border-color: $buttonblue;
    box-shadow: 0 9px 5px 0 rgba(0, 0, 0, 0.15);
    background: $buttonblue;
  }
}

@mixin capsule-shape($side: both) {
  @if($side == right) {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
  @else if($side == left) {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }
  @else {
    border-radius: 9999px; /* Any impossibly large number will do, 9999 is arbitrary */
  }
}

// Button with dashed borders, small text, and plenty of padding.
// Used on homepage, footer.
@mixin dashing-button {
  @include dashing-hoverable;
  text-transform: uppercase;
  max-width: rem-calc(321px);
  line-height: 1;
  font-size: rem-calc(10);
  font-weight: bold;
  padding: rem-calc(20) rem-calc(64);
}

// Content styles, used for interior docs page.
// @see Page.scss.
%textual {
  h1 {
    font-size: rem-calc(53);
    font-weight: 300;
  }
  h2 {
    font-size: rem-calc(24);
    font-weight: 300;
  }
  h3 {
    font-size: rem-calc(18);
  }
  p, ul, ol {
    font-size: rem-calc(18);
    line-height: rem-calc(36);
    letter-spacing: 0.1px;
    font-weight: 300;
  }
  a {
    text-decoration: underline;
  }
}
