// This file is included from partials outside of the
// current directory.  It only initializes Foundation
// and any mixins we have declared.  Do not write CSS
// here.
@import "variables";
@import "~foundation-sites/scss/foundation";

@mixin dashing-hoverable {
  border: 1px dashed $dashing-gray;
  transition-property: background-color, border-color, border-style, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  background: transparent;

  &:hover {
    border-style: solid;
    border-color: $buttonblue;
    box-shadow: 0 9px 5px 0 rgba(0, 0, 0, 0.15);
    background: $buttonblue;
  }
}
