//Site colors
$white: #FFF;
$black: #080808;
$almost-black: #1B2126;
$darkblue: #181D22;
$blue-gray: #7E92A5;
$light-gray: #97A6B5;
$darkgray: #3A454F;
$buttonblue: #4A90E2;
$dashing-gray: #55626d;

$body-background: $white;
$body-font-color: $black;

//Site fonts
$header-font-family: gill sans, sans-serif;
$body-font-family: helvetica, sans-serif;
$impact-font-family: $header-font-family;

$grid-container: 1280px;
$grid-container-padding: 0;

$code-background: #EEE;
$code-border: 1px dashed $dashing-gray;
$code-padding: 0 .125rem;
