//Site colors
$white: #FFF;
$black: #080808;
$almost-black: #1B2126;
$darkblue: #181D22;
$blue-gray: #7E92A5;
$light-gray: #97A6B5;
$darkgray: #3A454F;
$buttonblue: #4A90E2;
$dashing-gray: #55626d;
$red: #FF4444;
$green: #8AC74B;
$minty: #39FFE2;

$body-background: $white;
$body-font-color: $black;

//Site fonts
$header-font-family: gill sans, sans-serif;
$body-font-family: Helvetica, sans-serif;
$impact-font-family: $header-font-family;

$grid-container: 1280px;
$grid-container-padding: 0;

$code-background: #FBFBFB;
$code-color: #080808;
$code-border: 1px solid #E9E9E9;;
$code-padding: 0 .125rem;

