<footer class="page-footer">
    <div class="Branding">
        <div class="top">
            <svg id="svg-header-logo" class="logo">
                <use xlink:href="#Manny_Wave" />
            </svg>
            <h4 class="name">Mannequin</h4>
        </div>
    </div>
    <button class="button dashing">Get it on github</button>
</footer>