<header class="TopBar">
    <div class="inner">
        <div class="Branding dark tiny">
            <div class="top">
                <a href="/" class="logo">
                    <svg class="logo">
                        <use xlink:href="#Manny_Wave" />
                    </svg>
                </a>
                <h2 class="name"><a href="/">Mannequin</a></h2>
            </div>
        </div>
        <ul class="menu">
            {% for link in metadata.collections.Menu %}
                <li><a href="/{{ link.path }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</header>